:host {
  --web-margin: 50px;
  --header-margin: 100px;
  --header-top-margin: 50px;
  --content-side-margin: 100px;
  --content-separation-margin: 50px;
}

.header {
  margin-top: var(--header-top-margin);
  margin-left: var(--header-margin);
  margin-right: var(--header-margin);
}

.content {
  margin: var(--content-separation-margin) var(--content-side-margin);
}

.footer {
  margin-left: var(--web-margin);
  margin-right: var(--web-margin);
  margin-bottom: 20px;
}