.footer {
  margin-left: var(--web-margin);
  margin-right: var(--web-margin);
  margin-bottom: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  background-color: #333;
  color: #fff;
  font-size: 0.9rem;
  height: 50px;
}

.footer-left {
  flex: 1;
}

.footer-right {
  flex: 1;
  text-align: right;
}

.footer-right a {
  margin-left: 1rem;
  color: #fff;
  text-decoration: none;
}

.footer-right a:hover {
  text-decoration: underline;
}