.main-menu {
  margin: 20px 0;
  text-align: center;
}

.main-menu nav {
  display: inline-block;
  padding: 15px 2px;
  border-radius: 15px;
  background-color: #333333;
}

.main-menu nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.main-menu nav ul li {
  margin: 0 4px;
}

.main-menu nav ul li:hover {
  cursor: pointer;
  transform: scale(1.02);
  transition: transform 0.3s ease;
}

.main-menu nav ul li a {
  border-radius: 12px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  padding: 10px 15px;
  transition: background-color 0.3s, color 0.3s;
}

.main-menu nav ul li a:hover {
  background-color: #555;
  color: #fff;
}

.main-menu nav ul li.active a {
  background-color: #e10000;
  color: white;
}