.not-found-container {
  align-items: center;
  margin: 150px 0;
}

.not-found-title {
  font-size: 10rem;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

.not-found-message {
  margin-top: 20px;
  font-size: 1.8rem;
  color: #ffffff;
  text-align: center;
}